<h1 class="top-margin-lg centered underlined">Installation instructions</h1>
<div class="description">
  <h3>Step 1</h3>
  <a href="Compute for Humanity.zip" class="button success">Download the program</a>
  <h3>Step 2</h3>
  Drag the Compute for Humanity app from the Downloads folder to the
  Applications folder.
  <h3>Step 3</h3>
  Open Compute for Humanity. You should see the Compute for Humanity logo
  ( <%= image_tag "h-static@128.gif", class: "inline-logo" %> )
  in the menu bar at the top of your screen.
  <p>
    <span class="highlight highlight-3">That's it!</span> Pat yourself on the
    back, friend. You're now computing for humanity! Now go tell all your
    friends how cool you are!
  </p>
</div>
