<div class="row top-margin">
  <div class="title fifth">
    <h1>How to install</h1>
  </div>
  <div class="description-container">
    <div class="description">
      <h3 class="underlined">Step 1</h3>
      <a href="Compute for Humanity.zip" class="button success">Download for OS X Yosemite</a>
      <span class="tiny-text"><br>Other platforms not yet supported.</span>
      <h3 class="underlined">Step 2</h3>
      Drag the Compute for Humanity app from the Downloads folder to the
      Applications folder.
      <h3 class="underlined">Step 3</h3>
      Open Compute for Humanity.
      <%= image_tag "installed-screenshot-3.png", class: "installed-screenshot" %>
      You should see the Compute for Humanity logo
      ( <%= image_tag "h-static@128.gif", class: "inline-logo" %> )
      in the menu bar at the top of your screen.
      <p>
        <span class="highlight highlight-3">That's it!</span> Pat yourself on the
        back, friend. You're now computing for humanity! Now go tell all your
        friends how cool you are!
      </p>
    </div>
  </div>
</div>
