<div class="row top-margin">
  <div class="title fifth">
    <h1>FAQ</h1>
  </div>
  <div class="description-container">
    <div class="description">
      <h2>Why was Compute for Humanity created?</h2>
      Using your computer to make the world a better place should be:
      <ol class="pretty-list small">
        <li><strong>Easy</strong>—no registration, no password, no price tag,
          no complicated installation process.</li>
        <li><strong>Unobtrusive</strong>—you shouldn't even notice it's running.
          'Cause you need your computer for other stuff too!</li>
        <li><strong>Universally useful</strong>—not all causes care about
          finding prime numbers or folding proteins. Some causes just need
          good old-fashioned money, to provide life-changing medical treatment
          or help a family lift itself out of poverty.</li>
        <li><strong>Fun!</strong> 😊</li>
      </ol>
      That's what technology is supposed to be about. Compute for Humanity is
      the <span class="underlined">first and only tool</span> that accomplishes
      these goals.
      <h2>Isn't this a waste of electricity?</h2>
      Most cryptocurrency mining uses a lot of electricity, costing you more
      money on
      your electricity bill than you produce. That's because most miners try
      to get as much out of each computer as possible. Compute for Humanity
      takes the opposite approach: do a
      <%= link_to "very very small", :details %> amount of work (so small
      <span class="underlined">you won't even notice it's running</span>), but
      on lots of different computers. There's <strong>no effect</strong> on your
      electricity bill, and with enough computers running the program we can
      have a real impact on the lives of many people since <strong>100%</strong>
      of the money goes to charity.
      <h2>How do I know this is legitimate?</h2>
      This project tries to be as transparent as possible. That means all of the
      financial details are <%= link_to "public", :financials %>. All of the
      code—even the code for this website—is
      <a href="https://github.com/ComputeForHumanity" target="_blank">public too</a>.
      In addition, all Mac apps are cryptographically signed, which means
      if there was <strong>any funny business</strong> Apple would
      <a href="https://developer.apple.com/support/certificates" target="_blank">revoke</a>
      the app's "certificate" and you wouldn't even be able to install it.
      <h2>How can I help?</h2>
      <ol class="pretty-list small">
        <li class="spaced-out"><%= link_to "Download the app!", :download, class: "button warning inline-button" %></li>
        <li class="spaced-out">Spread the word to your
          <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.computeforhumanity.org" target="_blank">friends</a>
          and
          <a href="https://twitter.com/intent/tweet?text=I%20just%20took%20ten%20seconds%20and%20made%20a%20difference.&url=http%3A%2F%2Fwww.computeforhumanity.org&hashtags=ComputeForHumanity&via=Jake_Evelyn&related=Give_Directly,watsi,GlobalGiving,PencilsOfPromis" target="_blank">fans</a>!
          More users = more money =
          <span class="highlight">bigger impact</span>.</li>
        <li class="spaced-out">If you're a coder,
          <a href="https://github.com/ComputeForHumanity" target="_blank">get involved</a>!</li>
      </ol>
      <br>
      <p>Other questions? Don't be shy! Reach out to:
        <a href="https://twitter.com/Jake_Evelyn" target="_blank">@Jake_Evelyn</a>
        /
        <a href="mailto:jacob@computeforhumanity.org">jacob@computeforhumanity.org</a></p>
    </div>
  </div>
</div>
