<div class="row top-margin">
  <div class="title fifth">
    <h1>What it is</h1>
  </div>
  <div class="description-container">
    <div class="description">
      Compute for Humanity is a small application that uses your computer's
      spare processing power to <span class="highlight highlight-3">raise money for
      charity</span>. It's designed to be
      <span class="highlight highlight-1">highly energy-efficient</span> and
      gentle to your computer. You won't even notice it's running!
      <p>
        It works by occasionally doing little bits of math to generate small amounts
        of cryptocurrencies (like
        <a href="https://www.coinbase.com/what-is-bitcoin" target="_blank" class="underlined">Bitcoin</a>),
        which are then exchanged for US dollars and donated to good causes.
      </p>
      <p>
        Just install the program and voilà!
        <span class="highlight highlight-2">You're helping the world!</span>
        No registration, no price tag, no hoops to jump through.
        <a href="/download" class="button big-button warning">Let's get started!</a>
      </p>
    </div>
  </div>
</div>
<div class="row top-margin-lg">
  <div class="title fifth">
    <h1>Why it's great</h1>
  </div>
  <div class="description-container">
    <div class="description">
      <ol class="homepage-list">
        <li>
          You're raising money for charity without doing a thing!
          <a href="/details" class="button home-button">Learn more</a>
        </li>
        <li class="top-margin-lg">
          100% of the money you raise is donated to charities.*
          <a href="/financials" class="button home-button">See financials</a>
        </li>
        <li class="top-margin-lg">
          All code (including the code for this website!) is open source.
          <label for="code-modal" class="dull button home-button">
            See the code
          </label>
        </li>
      </ol>
      <div class="tiny-text top-margin-lg">* Except for transaction fees, which we keep to an
      <span class="underlined">absolute</span>
      <span class="underlined">minimum</span>.</div>
    </div>
  </div>
</div>

<div class="modal">
  <input id="code-modal" type="checkbox" />
  <label for="code-modal" class="overlay"></label>
  <article>
    <header>
      <h3>Sorry...</h3>
      <label for="code-modal" class="close">&times;</label>
    </header>
    <section class="content">
      Source code will be released after BitHack winners have been announced,
      since this project is non-public until then. If you're a BitHack judge and
      you'd like to see the source code, email me at
      <a href="mailto:jacob@computeforhumanity.org">jacob@computeforhumanity.org</a>.
    </section>
    <footer>
      <label for="code-modal" class="button home-button">Got it</label>
    </footer>
  </article>
</div>
