<h1 class="top-margin-lg centered underlined">What it is</h1>
<div class="description">
  Compute for Humanity is a small application that uses your computer's
  spare processing power to <span class="highlight highlight-3">raise money for
  charity</span>. It's designed to be
  <span class="highlight highlight-1">highly energy-efficient</span> and
  gentle to your computer. You won't even notice it's running!
  <p>
    It works by occasionally doing little bits of math to generate small amounts
    of cryptocurrencies (like
    <a href="https://www.coinbase.com/what-is-bitcoin" target="_blank" class="underlined">Bitcoin</a>),
    which are then exchanged for US dollars and donated to good causes.
  </p>
  <p>
    Just install the program and voilà!
    <span class="highlight highlight-2">You're helping the world!</span>
    <a href="/details" class="button home-button">Learn more</a>
  </p>
</div>
<h1 class="top-margin centered underlined">Why it's great</h1>
<div class="description">
  <ul>
    <li>
      <span class="highlight highlight-1">100%</span> of the money you raise is
      donated to charities <span class="tiny-text">(except for transaction fees, which we keep to an
      <span class="underlined">absolute</span>
      <span class="underlined">minimum</span>)</span>. The complete transaction history is posted on this website.
    </li>
    <li>
      All code (including the
     code for this website!) is open source
     <span class="highlight highlight-2">(or will be once BitHack is over!)</span>.
    </li>
    <li>
      You're raising money for charity
      <span class="highlight highlight-3">without doing a thing</span>!
      <a href="/financials" class="button home-button">See financials</a>
    </li>
  </ul>
</div>
<h1 class="top-margin centered underlined">How you can help</h1>
<div class="description">
  Just install once and forget about it.
  <span class="highlight highlight-1">That's it.</span>
  No registration, no price tag, no hoops to jump through.
  <a href="/download" class="button home-button">Let's do this!</a>
</div>
