<div class="row top-margin">
  <div class="title fifth">
    <h1>Privacy</h1>
  </div>
  <div class="description-container">
    <div class="description">
      <h2>Your privacy matters to us.</h2>
      We don't sell <strong>any data</strong>.<br>
      We don't even collect any data anyone would want to buy.<br>
      Because your data is <strong>your own business</strong>.<br>
      <strong><span class="underlined">Period</span></strong>.
      <p>
        <br>
        The <span class="underlined">only</span> information we collect is:
        <ul>
          <li>How many people visit this website.</li>
          <li>How many computers are using Compute for Humanity currently. (This
            lets us display the number at the top of this page.)</li>
          <li>How many times referral links are used to download Compute for
            Humanity.</li>
          <li>Log data: like most websites, our servers automatically log a
            small amount of usage information such as which IP address visits
            which page and when. This data is deleted after 30 days.</li>
        </ul>
        <strong>None of this information gives us any idea who you are.</strong>
      </p>
    </div>
  </div>
</div>
