<h2>Version 2.2</h2>
This version increases the reward for recruiting friends to <strong>999</strong>
💖s! It also tweaks some internal things to allow us to pay charities slightly
faster.
<h2>Version 2.1</h2>
This version fixes a bug that was preventing users from receiving 💖s for
recruiting friends.
<h2>Version 2.0</h2>
There are a <strong>lot</strong> of exciting goodies in this release! The big
highlights are:
<ul>
  <li>Earn 💖s for running Compute for Humanity, and use them to choose which
    charities you support!</li>
  <li>Accomplish 🏆s for doing fun things!</li>
  <li>A new system to reward you for recruiting your friends!</li>
  <li>A super mysterious <strong>secret surprise</strong> you can earn and
    receive in your real-world, physical, honest-to-goodness snail-mail
    mailbox!</li>
  <li>Lots (like, <em>LOTS</em>) of emoji!</li>
</ul>
...plus a whole bunch more!
<h2>Version 1.15</h2>
This version fixes an issue that interfered with the pause functionality.
<h2>Version 1.14</h2>
This version fixes an issue that prevented updates from appearing in OS X
10.11 El Capitan.
<h2>Version 1.13</h2>
This version:<br>
<ul>
  <li>Fixes several small bugs related to how the menu and icon were displayed
    when the app pauses its work because the computer is warm.</li>
  <li>Updates some internals to the app's naming conventions to make it
    more easily identifiable in Activity Monitor and less likely to be
    mistakenly flagged by anti-malware scanners.</li>
  <li>By request from several users, adds an experimental "Use more CPU" mode,
    which allows users to perform more mining if desired. This mode is
    disabled by default and, when enabled, may be disabled again at any time.
  </li>
</ul>
<h2>Version 1.12</h2>
This version fixes a minor issue that prevented updates and donation status
retrievals from appearing in OS X 10.11 El Capitan. A big hat tip to David
Lago and Sagar Jauhari for the bug reports!
<h2>Version 1.11</h2>
This version fixes a minor issue in which the icon could be hidden for users
with inverted menu bar colors. A big thanks to David Lago for the bug report!
<h2>Version 1.10</h2>
This version subtly grays out the icon when the mining is paused. (Thanks to
David Lago for the suggestion!) It also slightly increases the amount of work
each computer does, so we can raise money slightly faster!
<h2>Version 1.9</h2>
This version makes the installation process even easier by offering to move
the application to the Applications folder automatically when the app starts.
Here's to computers doing the work for us!
<h2>Version 1.8</h2>
This version makes updates automatic, so you can always have the latest and
greatest version of Compute for Humanity!
<h2>Version 1.7</h2>
This version decreases the amount of mining performed, to further reduce app
energy impact. Wahoo!
<h2>Version 1.6</h2>
This version prevents the app from being run on versions of OS X older than
10.10.3. Huge thanks to Alex Pritz for helping to track down this very thorny
issue!
<h2>Version 1.5</h2>
This version fixes a bug that was causing the app to crash on computers
running OS X 10.10.0, 10.10.1, and 10.10.2. Huge thanks go to Alex Pritz for
helping to track down the issue!
<h2>Version 1.4</h2>
This version adds an in-app updater, so updates are much easier for you! No
more downloading the new version yourself... now you can get updates right
inside the app like magic!
