<div class="row top-margin">
  <div class="title fifth">
    <h1>Feb 20, 2017</h1>
  </div>
  <div class="description-container">
    <div class="description">
      <h2>Saying goodbye</h2>
      <div class="subtitle">Or: “Know when to fold 'em”</div>
      It's with a heavy 💖 that I'm here to say Compute for Humanity will be shutting down today.
      <p>
        Over the course of the past few months, a combination of factors has led to this
        decision:
        <ol class="pretty-list small">
          <li>NiceHash, the service Compute for Humanity uses to orchestrate its cryptocurrency
            mining in exchange for Bitcoins, <a href="https://www.nicehash.com/?p=faq#faqs6">changed
            its payout rules</a> so that small amounts were periodically discarded rather than
            being paid out to Compute for Humanity.</li>
          <li>Circle, the service Compute for Humanity uses to exchange Bitcoins for US dollars with
            <span class="italic">zero</span> transaction fees,
            <a href="https://blog.circle.com/2016/12/06/spark-new-markets-app-messaging-and-bitcoin-changes/">discontinued</a>
            its Bitcoin transactions feature.</li>
          <li>There simly weren't enough Compute for Humanity users to justify the continued
            development of the app (including a workaround for the Circle change), or its ongoing
            server costs.</li>
        </ol></p>
      <p>To uninstall Compute for Humanity, simply click the Compute for Humanity icon at the top of
        your screen and click "Quit," and then drag the app from your Applications folder to the
        Trash.</p>
      <p>
        I've had a ton of fun working on this project and talking to its incredibly supportive and
        enthusiastic users. You all are wonderful.</p>
      <p>I have some extra <strong>special surprises</strong> as well—if you'd like one just email me at
        <a href="mailto:jacob@computeforhumanity.org">jacob@computeforhumanity.org</a> and it's 
        yours!</p>
    </div>
  </div>
</div>
