<div class="row top-margin">
  <div class="title fifth">
    <h1>Feb 28, 2016</h1>
  </div>
  <div class="description-container">
    <div class="description">
      <h2>Version 2.0 Released!</h2>
      I'm beyond thrilled to say that
      <%= link_to "Compute for Humanity", :root %> <strong>2.0</strong> is
      finally released. This is the <strong>biggest release yet</strong>, a
      complete redesign packed with a whole bunch of fun goodies that make
      Compute for Humanity better than ever.
      <br/>
      <%= link_to "Read more", :blog_1, class: "button right" %>
    </div>
  </div>
</div>
