body {
  height: auto;
}

h1 {
  font-size: 30px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.row {
  width: 100%;
}

.top-margin-lg {
  margin-top: 30px;
}

.top-margin-tiny {
  margin-top: 10px;
}

.top-margin {
  margin-top: 20px;
}

.big-button {
  width: 250px;
  height: 50px;
  line-height: 35px;
  font-size: 25px;
  float: right;
  margin-top: 20px;
}

.inline-logo {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
}

.installed-screenshot {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 700px;
  max-width: 100%;
}

.title {
  padding-right: 30px;
  vertical-align: middle;
  text-align: right;
}

.button {
  border-radius: 10px;
}

.home-button {
  float: right;
  width: 150px;
}

.logo-container {
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
  color: #000;
  width: 250px;
  margin: 10px auto 0 auto;
}

.logo-container:hover {
  color: #777;
}

.logo-container:hover > .logo {
  background-image: image-url("h-animated-3@128.gif");
}

.logo {
  display: inline-block;
  background-image: image-url("h-static@128.gif");
  background-size: cover;
  height: 64px;
  width: 48px;
}

.user-count-container {
  font-size: 16px;
  text-align: right;
}

.left-corner {
  background-color: #AEE9FF;
  border-bottom-right-radius: 25px;
  padding: 10px 20px;
  vertical-align: middle;
  // height: 85px;
  width: 50%;
}

.underlined {
  text-decoration: underline;
}

.centered {
  text-align: center;
}

.description-container {
  padding-right: 50px;
}

.description {
  background-color: #ddd;
  border-radius: 25px;
  overflow: hidden;
  padding: 20px;
}

.tiny-text {
  font-size: 12px;
  line-height: 12px;
}

.medium-text {
  font-size: 30px;
}

.homepage-list {
  position: relative;
  list-style-type: none;
  counter-reset: ol-counter;
}

.homepage-list > li:before {
  content: counter(ol-counter);
  counter-increment: ol-counter;

  border: 3px solid #2ecc40; //#c5c5c5;
  border-radius: 50%;
  background-color: #eee;

  position: absolute;
  top: -12px;
  left: -60px;
  width: 45px;
  height: 45px;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  color: #000;
}

.homepage-list > li {
  position: relative;
  margin-left: 20px;
}

.large-text {
  font-size: 40px;
}

.highlight {
  border-radius: 8px;
  color: #fff;
  padding: 3px;
}

.highlight-1 {
  background-color: #2ecc40;
}

.highlight-2 {
  background-color: #2ecc40; //#ff851b;
}

.highlight-3 {
  background-color: #2ecc40; //#b10dc9;
}

// Used to preload hover icon.
body:after{
  display: none;
  content: image-url("h-animated-3@128.gif");
}
