$green: #2ecc40;

body {
  height: auto;
}

h1 {
  font-size: 30px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin-top: 0;
  width: 100%;
}

$table_body_height: 74px;

.donation-table {
  $donation_table_column1_width: 150px;
  $donation_table_column2_width: 175px;
  $donation_table_column3_width: 200px;
  $donation_table_column4_width: 177px;
  $donation_table_column5_width: 118px;
  width: $donation_table_column1_width +
         $donation_table_column2_width +
         $donation_table_column3_width +
         $donation_table_column4_width +
         $donation_table_column5_width;
  table-layout: fixed;
  border-collapse: collapse;

  th, td {
    padding: 5px;
    text-align: left;
  }

  td:nth-child(1), th:nth-child(1) { min-width: $donation_table_column1_width; }
  td:nth-child(2), th:nth-child(2) { min-width: $donation_table_column2_width; }
  td:nth-child(3), th:nth-child(3) { min-width: $donation_table_column3_width; }
  td:nth-child(4), th:nth-child(4) { min-width: $donation_table_column4_width; }
  td:nth-child(5), th:nth-child(5) { width: $donation_table_column5_width; }

  thead {
    tr {
      display: block;
      position: relative;
    }
  }
  tbody {
    display: block;
    overflow: auto;
    width: 100%;
    max-height: $table_body_height;
  }
}

.exchange-table {
  $exchange_table_column1_width: 154px;
  $exchange_table_column2_width: 186px;
  $exchange_table_column3_width: 195px;
  $exchange_table_column4_width: 187px;
  $exchange_table_column5_width: 129px;
  width: $exchange_table_column1_width +
         $exchange_table_column2_width +
         $exchange_table_column3_width +
         $exchange_table_column4_width +
         $exchange_table_column5_width;
  table-layout: fixed;
  border-collapse: collapse;

  th, td {
    padding: 5px;
    text-align: left;
  }

  td:nth-child(1), th:nth-child(1) { min-width: $exchange_table_column1_width; }
  td:nth-child(2), th:nth-child(2) { min-width: $exchange_table_column2_width; }
  td:nth-child(3), th:nth-child(3) { min-width: $exchange_table_column3_width; }
  td:nth-child(4), th:nth-child(4) { min-width: $exchange_table_column4_width; }
  td:nth-child(5), th:nth-child(5) { width: $exchange_table_column5_width; }

  thead {
    tr {
      display: block;
      position: relative;
    }
  }
  tbody {
    display: block;
    overflow: auto;
    width: 100%;
    max-height: $table_body_height;
  }
}

.header {
  height: 70px;
}

.top-margin-lg {
  margin-top: 30px;
}

.top-margin-tiny {
  margin-top: 10px;
}

.top-margin {
  margin-top: 100px;
}

.big-button {
  width: 250px;
  height: 50px;
  line-height: 35px;
  font-size: 25px;
  float: right;
  margin-top: 20px;
}

.inline-logo {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
}

.download-button {
  font-size: 26px;
  margin-top: -15px;
}

.screenshot {
  display: block;
  margin: 10px 0;
  max-width: 100%;
}

.installing-screenshot-1 {
  width: 400px;
}

.installing-screenshot-2 {
  width: 550px;
}

.installed-screenshot {
  width: 700px;
}

.title {
  padding-right: 30px;
  vertical-align: middle;
  text-align: right;
}

.modal-button {
  float: right;
}

.button {
  border-radius: 10px;
}

.home-button {
  float: right;
  width: 150px;
  position: relative;
  top: -10px;
}

.brand {
  box-shadow: none !important; // Override Picnic styles.

  &:active {
    background: none !important; // Override Picnic styles.
    outline: none !important; // Override Picnic styles.
  }
}

.logo-container {
  color: #000;
  font-size: 20px;
}

.logo-container:hover {
  color: #777;
}

.logo-container:hover > .logo {
  background-image: image-url("h-animated-3@128.gif");
}

.logo {
  display: inline-block;
  background-image: image-url("h-static@128.gif");
  background-size: cover;
  font-size: 0; // Hide text, since logo is there. Allows screen readers though.
  height: 48px !important; // Override Picnic styles.
  margin-right: 0 !important; // Override Picnic styles.
  width: 36px;
}

.counter-container {
  float: right;

  .large-text {
    color: #FF851B;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    right: 2px;
    top: 2px;
  }

  .user-counter {
    font-size: 18px;
    position: relative;
    top: -5px;
  }

  .call-to-action {
    font-size: 17px;
    position: relative;
    text-align: center;
    top: -7px;
  }
}

.underlined {
  text-decoration: underline;
}

.centered {
  text-align: center;
}

.description-container {
  padding-right: 50px;
}

.description {
  background-color: #ddd;
  border-radius: 25px;
  overflow: hidden;
  padding: 20px;
}

.tiny-text {
  font-size: 12px;
  line-height: 12px;
}

.medium-text {
  font-size: 30px;
}

.pretty-list {
  position: relative;
  list-style-type: none;
  counter-reset: ol-counter;

  li {
    position: relative;

    &:before {
      content: counter(ol-counter);
      counter-increment: ol-counter;

      border-radius: 50%;
      background-color: #eee;

      position: absolute;
      text-align: center;
      color: #000;
    }
  }

  &.large > li {
    margin-left: 40px;

    &:before {
      border: 3px solid $green;
      font-size: 30px;
      height: 45px;
      left: -70px;
      line-height: 45px;
      top: -12px;
      width: 45px;
    }
  }

  &.small > li {
    margin-left: 20px;

    &:before {
      border: 2px solid $green;
      font-size: 18px;
      height: 28px;
      left: -40px;
      line-height: 28px;
      top: -3px;
      width: 28px;
    }
  }
}

.betaboston-logo {
  height: 30px;
  margin-left: 8px;
  position: relative;
  top: -3px;
  vertical-align: middle;
}

.highlight {
  background-color: $green;
  border-radius: 8px;
  color: #fff;
  padding: 3px;
}

// Used to preload hover icon.
body:after{
  display: none;
  content: image-url("h-animated-3@128.gif");
}
